<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>79253404477-dk9jg03hn8ggf6cgd9dihqshcu9ndb76.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.79253404477-dk9jg03hn8ggf6cgd9dihqshcu9ndb76</string>
	<key>API_KEY</key>
	<string>AIzaSyBx1cbpAbpJzxA5MevYkg_ogRC9Jw3Gfc0</string>
	<key>GCM_SENDER_ID</key>
	<string>79253404477</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.NirbhaySingh.SOTTO-iOS-updated</string>
	<key>PROJECT_ID</key>
	<string>sotto-afe87</string>
	<key>STORAGE_BUCKET</key>
	<string>sotto-afe87.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:79253404477:ios:884576961e8e248078a354</string>
	<key>DATABASE_URL</key>
	<string>https://sotto-afe87.firebaseio.com</string>
</dict>
</plist>