<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>123359906251-65g3c6f2rc00oju862755sk7313281m1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.123359906251-65g3c6f2rc00oju862755sk7313281m1</string>
	<key>API_KEY</key>
	<string>AIzaSyCwMcmIIGmqQkiQiKbPFli3_8JG8FmK4WA</string>
	<key>GCM_SENDER_ID</key>
	<string>123359906251</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.NirbhaySingh.SOTTO-iOS-updated</string>
	<key>PROJECT_ID</key>
	<string>sotto-a8d7b</string>
	<key>STORAGE_BUCKET</key>
	<string>sotto-a8d7b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:123359906251:ios:8544096245af2425f60e4e</string>
	<key>DATABASE_URL</key>
	<string>https://sotto-a8d7b.firebaseio.com</string>
</dict>
</plist>